library.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="home">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="section">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="book">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="author" type="xs:string" />
                    <xs:element name="publishingYear" type="xs:unsignedShort" />
                    <xs:element name="edition" type="xs:string" />
                    <xs:element name="editorHouse" type="xs:string" />
                    <xs:element name="isbn" type="xs:unsignedInt" />
                    <xs:element name="price" type="xs:decimal" />
                  </xs:sequence>
                  <xs:attribute name="isNew" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="category" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>